body{
  margin:0;
  padding: 0;
font-family: 'DM Sans', sans-serif;
    width: 100%;
}

body::-webkit-scrollbar {
  display: none;
}
.header-main{
    font-size: 18px;
  font-family: 'DM Sans', sans-serif;
    position: relative;
    position: fixed;
    z-index:10000;
    width:95vw;
    margin-top: 1.5vw;
    margin-left: 2.5vw;
    margin-right:2.5vw;
    /* height:36px; */
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 16px;
      font-weight: bold;
      border-top: 1px solid black;
/* background-color: red; */
display: flex;
flex-wrap: nowrap;
justify-content:  space-between;
align-items: center;
}
.header-main a{
  color: black;
  text-decoration: none;
}

.filters{
    width:95vw;
    /* height: 50px; */
    border-top: solid 1px #000;
    /* border-bottom: solid 1px #000; */
  background-color: white;
    position: fixed;
    bottom:0;
    left:2.5vw;
    right:2.5vw;
    z-index: 20;
    /* background-color: pink; */
    /* display: inline; */

}
ul{
  margin:0;
  padding:0;
}
.filters-list{
  margin-top:10px;
    margin-bottom:10px;
  /* width:100%; */
  /* margin: 0; */
  flex-wrap: wrap;
  display: flex;
  /* text-align: center; */
  justify-content: center;
  /* align-items: center; */
}
.filters-list a{
  text-decoration: none;
  font-size: 12px;
  color:black;
  /*  */
  /* background-color: red; */
    padding-left:10px;
      padding-right:10px;
}


.navbar a{
  /* color: black; */
/* text-decoration: none; */
  /* width:100%; */
  /* display: inline; */
}
.select{
  background-color: yellow;
  /* color: red; */
    text-decoration: underline;
}
.reel{
  /* position: fixed; */
  /* top: 2.5vw; */
  /* z-index: 0; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width:100vw;
  height:100vh;
/* background-color: red; */
background-image: url(bg.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.reel-box{
  /* width:480px;
  height:480px; */
}

.section{
  background-color: white;
    z-index: 3;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  width:100%;
  border-top: 1px solid black;
}

.write-up{
  z-index: 10;
  background-color: white;
  /* background-color: red; */
  /* margin :0;
  top:0;
  left:0;
  position: sticky;
z-index: 0; */
/* margin-top: 10px; */
/* border-top: 1px solid #000; */
margin-bottom: 50px;
  width:100%;
}

.write-up a{
  color: black;
  /* text-decoration: underline; */
}


.inner{
  line-height: 1.4;
  /* margin-top: 20px; */
  margin-bottom: 20px;
width:540px;
font-size: 21px;
}
.inner-email{
  letter-spacing: .4px;
  padding-top: 30px;
  font-size: 12px;
  text-transform: uppercase;
}

.heading{
color:grey;
}
.heading a{
color:grey;
}
.selected a{
color:black;
text-decoration: underline;
}
/* .selected a{
  color:black;
} */
.info{
  background-color: yellow;
    margin-left: 20px;
  cursor: pointer;
  font-size: 17px;
width:50px;
text-align: center;
  /* position: fixed; */
  margin-top:10px;
  /* left:12px; */
  z-index: 4;
  float: left;
}
.project a:hover,
.project2 a:hover,
.project3 a:hover,
.info a:hover{
  color:#333;
text-decoration: underline;
}

.project2 a:hover .project-name{
/* border-bottom:2px solid #333; */
text-decoration: underline;

}

.project a,
.project2 a,
.project3 a,
.info a{
  color:#333;
      text-decoration:none;
}
.name{
        padding-right: 25px;
  float: right;
    cursor: pointer;
    text-decoration:underline;
  /* position: fixed; */
  top:12px;
  right:12px;
  z-index: 4;
  font-size: 17px;
}

.dashboard{
  /* background-color:yellow; */
  /* position: relative; */
    /* margin-top: 10px; */
    z-index: 15;
  width:95vw;
  /* margin-top: 90vh; */
  margin-left: 2.5vw;
  margin-right:2.5vw;
  /* height: 100%; */
    display: flex;
    flex-wrap: wrap;
  justify-content:  space-between;
  align-items: center;
  /* flex-direction: row; */
}
.gallery{
  z-index: 3;

  /* letter-spacing: .4px; */
  width:100%;
line-height: 1.4;
    font-size: 14px;
/* text-transform: uppercase; */
  /* background-color: red; */
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
justify-content:  space-between;
align-items:  flex-start;
margin-bottom: 50px;
}
.gallery-1{
background-color: white;
margin-bottom: 15px;
width:32%;
}
.big{
  width:47%;
}
.gallery-1 img{
  width: 100%;
}
.gallery-1 a{
  color:black;
}

.artwork{
/* background-color: yellow; */
margin-bottom: 15px;
width:32%;
}
.artwork img{
  width: 100%;
}

/* .project1{
    margin-bottom:25px;
  display: flex;
  flex-wrap: nowrap;
justify-content: space-between;
align-items: flex-start;
    width:96vw;
} */

/* .project-image1{
  background-color: yellow;
  height: 48vw;
  width:80vw;
} */

.project2{
  z-index: 3;

  cursor: pointer;
  margin-bottom:25px;
  background-color: white;
  /* position: relative; */
  width:46vw;
}
.project-image2{
  /* background-color: black; */
  height: 46vw;
  width:46vw;
}

.ucfs{
  background-image: url(project-cover/ucfs-cover.png);
  background-size: cover;
  background-position: center;
}

.one{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(project-cover/fig-cover.png);
}

.two{
    background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(project-cover/tff-cover.png);
}
.wildharvest{
    background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(project-cover/wh-cover.gif);
}

.noorahealth{
    background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(project-cover/nh-cover.png);
}
.indigo{
    background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(project-cover/indigo-cover1.png);
}
.illustration{
    background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(project-cover/illustration.png);
}
.user-research{
  background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-image: url(project-cover/qs-research.png);
}
.vinyl_1{
  background-position: center;
background-size: contain;
background-repeat: no-repeat;
background-image: url(vinyl_1.jpg);
}

.vinyl_2{
  background-position: center;
background-size: contain;
background-repeat: no-repeat;
background-image: url(vinyl_2.png);
}

.integrated-art1{
  background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-image: url(integrated-art1.png);
}

.integrated-art2{
  background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-image: url(integrated-art2.png);
}
.project3{
  display: flex;
  flex-wrap: nowrap;
justify-content: space-between;
/* align-items: flex-start; */
border-top: 1px #000 solid;
  /* background-color: #FFFCED; */
  margin-bottom:25px;
  width:96vw;
}
.project-image3{
  /* background-color: black; */
  height: 40vw;
  width:48vw;
  margin:20px;
  /* background-color:black; */
}
.project-text3{
  /* position: sticky;
      position:-webkit-sticky;
      top:0;
      left:0; */
      /* background-color: red; */
  padding-top: 15px;
  padding-bottom: 15px;
    margin-left: 15px;
  width:33vw;
}
.project-text2{
  /* position: relative; */
  display: flex;
  /* background-color: red; */
  /* height:60px; */
  /* display: inline-block; */
  flex-wrap: nowrap;
  justify-content:space-between;
  align-items:  flex-start;
  margin-top: 10px;
  letter-spacing: .4px;
line-height: 1.4;
font-size:16px;
}
.project-text1{
  position: sticky;
  position:-webkit-sticky;
  top:0;
  left:0;
/* padding-top: 15px; */
padding-bottom: 15px;
margin-left:15px;
  width:16vw;
}

.project-name{
  color: grey;
    /* background-color: yellow; */
  text-transform: uppercase;
    width:50%;
    letter-spacing: .4px;
line-height: 1.4;
  font-size:12px;
}

.project-name3{
  line-height:1.5;
/* width:350px; */
/* line-height: 1; */
  font-size:17px;
}
p{
    color: #a0a0a0;
}
.year{
  /* background-color: red; */
    font-size: 17px;
}
.project-tabs2{
  text-align: right;
    /* text-transform: uppercase; */
/* margin-left:30px; */
  height:20px;
  /* background-color: red; */
  /* padding-left:15px; */
    /* border-left: 1px solid black; */
    font-size: 17px;
}
.project-tabs1{
  width:150px;
    padding-top:15px;
  margin-top:50px;

    /* text-transform: uppercase; */
    border-top: 1px solid black;
    font-size: 17px;
}
.project-tabs3{
  width:150px;
    padding-top:15px;
  margin-top:50px;
    /* text-transform: uppercase; */
    border-top: 1px solid black;
    font-size: 17px;
}
.footer{
  z-index: 10;

  font-size: 12px;
font-family: 'DM Sans', sans-serif;
  width:95vw;
  margin-top: 2.5vw;
  margin-left: 2.5vw;
  margin-right:2.5vw;
  /* height:36px; */
    padding-top: 10px;
    padding-bottom: 150px;
    border-top: 1px solid black;
/* background-color: red; */
display: flex;
flex-wrap: nowrap;
justify-content:  space-between;
align-items: center;
}

@media (max-width: 800px) {

  /* .filters-list{
  display: block;
  } */
  .header-main{
    font-size: 12px;
  }
.reel{
    height:80vh;
}
  .reel-box{
    width:80vw;
    height:80vw;
  }
.section{
font-size: 12px;
}

.footer{
  font-size: 10px;
}

  .project-name{
      width:70%;
        font-size:12px;
  }

.dashboard{
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: left; */
}

.inner{
  font-size: 16px;
width:100%;
}

.gallery-1{
width:48%;
font-size: 12px;
/* justify-content: flex-start; */
}
.artwork{
width:48%;
font-size: 12px;
}

.project2{
  /* height: 105vw; */
  width:95vw;
  /* background-color: green; */
}

.project-image2{
  height: 95vw;
  width:95vw;
}

.project-text2{
  justify-content:space-between;
  align-items: flex-start;
  width:90vw;
}
.project-tabs2{
  height:30px;
  width:200px;
}

.project1{
  width:90vw;
  /* background-color: green; */
    flex-wrap: wrap;
}

.project-image1{
  height: 150vw;
  width:90vw;
  margin-bottom: 15px
}

.project-text1{
  width:90vw;
  /* background: blue; */
margin-left:0px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items:flex-start;
}
.project-tabs1{
  padding-left: 15px;
  border-top: 0px;
  padding-top: 0px;
  border-left:1px solid #000;  margin-top:0px;
  height:30px;
}

}

@media (max-width: 600px) {



.project3{
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.project-image3{
  height: 100vw;
  width:82vw;
  margin:10px;
}
.project-text3{
display: flex;
justify-content:space-between;
align-items: center;
flex-wrap: nowrap;
  margin-top: 15px;
    margin-left: 15px;
  width:82vw;
}
.project-tabs3{
  width:80px;
height:45px;
    padding-top:0px;
    padding-left:15px;
  margin-top:0px;
    border-left: 1px solid black;
    border-top: 0px solid black;
}

.project-tabs2,
.project-tabs1{
  height:45px;
}

}
