body{
  margin:0;
  padding: 0;
font-family: 'DM Sans', sans-serif;
    width: 100%;
    color: #AE0000;
}

body::-webkit-scrollbar {
  display: none;
}

div{
/* background-color: yellow; */

  /* padding: 10px; */
}
.toolbox{
  /* border: 1px solid #AE0000; */
  font-size:21px;
  text-align: center;
}
.elements{
  border: 1px solid #AE0000;
  word-wrap: break-word;
  font-size:10vw;
  width:50vw;
  height: 10vw;
  line-height:1;
}
