body{
  overflow: hidden;
  font-family: 'DM Sans', sans-serif;
   background-color: #ffffff;
   color:#333;
}

.script.scale{
  transition: 2s;
  transform: scale(0.2);
}

.background{
  height: 100%;
      cursor: url(arrownone.png), auto;

  z-index: 2;
}

.info2{
  background-color: yellow;
    margin-left: 25px;
  cursor: pointer;
  font-size: 15px;
width:100px;
text-align: center;
  /* position: fixed; */
  margin-top:10px;
  left:12px;
  z-index: 4;
  float: left;
}

.info2 a:hover{
  color:#333;
/* border-bottom:1px solid yellow; */
}
.info2 a{
  color:#333;
      text-decoration:none;
}

.script1,
.script3,
.script5,
.script6,
.script6_1,
.script7,
.script8{
display: inline;
}
.script .script9.inline,
.script .script10.inline{
display: inline;
 color: #333;
  text-transform: lowercase;
}
.script3:hover,
.script5:hover{
 cursor: pointer;
}
.script .script9,
.script .script10{
  background-color: yellow;
  /*font-style: italic;*/
display: none;
}

.superscript {
    z-index: 1;
  position: relative;
 text-transform: none;
text-align: left;
display: block;

  width: 100vw;
  /*background-image: url(burn_website.jpg);*/
  height: 100vh;
  margin-left: 0vw;
  padding: 0;


}
.script8{
/*color: #000000;*/
}
.script4 {
  display: none;
}
@keyframes movetext {
  0% {
    transform: translate(0, -100%);

  }
  100% {
    transform: translate(0, 0);

  }
}
.script {
  animation: movetext 2s;
  position: absolute;
padding: 50px 25px 75px 25px;
  margin-left: 25px;
    margin-right: 25px;
  background-color: rgba(251, 251, 241, 0);
  line-height: 1.4;
  height: 100vh;
  display: inline;
  font-size: 64px;
   text-transform: none;

  /*font-style: italic;*/
}
.script2 {
  z-index: 2;
  font-size: 64px;
  position: relative;
  transform: translateX(0px);
  display: inline-block;
  /* color: #; */
  color:#333;
background-color: yellow;
  text-transform: none;
  transition: 0.5s;
  text-decoration: none;
  background-color: rgba(85, 16, 255, 0);
   padding-right: 30px;
}

.script1{
  /* background-color: yellow; */
  position: absolute;
  transform: rotate(10deg) translateY(10px);
  transform-origin: top left;
  /* font-size: 4vw; */
  color: rgba(251, 251, 241, 0);
  border-left: 3px solid #333;
  margin-left: 30px;
    transition: 0.3s;
}
 .script2:hover .script1{
  opacity: 0;

}
.script2:hover {
  padding-right: 20px;
  transform: translateX(15px);
  color: #333;
  color: yellow;
  border-right: none;
}
/* @keyframes barsize{
  0%{
   font-size: 0vw;
  }
  100%{
    font-size: 56px;
  }
} */
.script3,
.script5{
  font-style: italic;
}

@media (max-width: 600px) {

.script,
.script2{
  font-size: 36px;
}



}
